body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url("http://www.officialpsds.com/images/stocks/Club-dance-floor-stock2681.jpg");
  background-size: cover;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .addCarlton, .addSpiderMan, .addDancingDog, .randomDancer{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.carlton{
  border:10px solid blue;
  border-radius:10px;
  position:absolute;
}

.spiderman{
  border:10px solid white;
  border-radius:10px;
  position:absolute;
}

.dancingDog{
  border:10px solid pink;
  border-radius:10px;
  position:absolute;
}

#leftLineUp, #rightLineUp, #topLineUp, #bottomLineUp{
  font-weight: bold;
  padding:5px 12px;
  float:right;
}